<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <!-- mean header -->
    <div class="container-fluid main_header">
        <div class="row">
         <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                      <img src="images/about.png" alt="sharwan" class="img-fluid" title="sharwan jakhar">
                    </figure>
                    </div>
                <div class="col-md-6 col-12 main_header_left">
                 <p>Welcome to weather app</p>
                 <h1>I Am A <span class="text_clr">Full Stack Web Developer</span> And A Coding Enthusiast.</h1>
                 <a href="/about"><button>About me</button></a>
                </div>
                <!-- right side div  -->
                
                </div>
            </div>
       </div>
    </div>
</div>

<!-- footer code -->
<footer>
  <p>created with ❤ by sharwan jakhar</p>
</footer>
</body>
</html>